.h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: var(--spacing-sm);
}

.h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: var(--spacing-sm);
}

.h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: var(--spacing-sm);
}

.h4,
.h5,
.h6 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: var(--spacing-sm);
}

.p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  margin-top: 0;
  margin-bottom: var(--spacing-sm);
}

.span {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}
