.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 10;
  padding: var(--spacing-md);
  position: sticky;
  top: 50px;
}

.main {
  flex-basis: 600px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
}

.complementary {
  flex-basis: 300px;
  flex-shrink: 10;
  padding: var(--spacing-md);
  position: sticky;
  top: 50px;
}
