.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: column;
  flex-basis: 360px;
  padding: var(--spacing-md);
  position: sticky;
  top: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-basis: 740px;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
}

.complementary {
  display: flex;
  flex-direction: column;
  flex-basis: 360px;
  padding: var(--spacing-md);
  position: sticky;
  top: 50px;
}
