.card {
  background-color: var(--background-color);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
}

.content {
  padding: var(--spacing-md);
}

.media {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}

.divider {
  margin: 0;
  margin-inline: var(--spacing-md);
  border-width: 0;
  border-bottom: 1px dashed var(--text-color-lighter);
}
