.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  padding-inline: var(--spacing-md);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  z-index: var(--z-index-header);

  .logo img {
    height: var(--spacing-lg);
  }

  .nav {
    ul {
      list-style: none;
      display: flex;
      padding: 0;
      gap: var(--spacing-sm);
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--text-color-lighter);
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-bold);
      border-bottom: 2px solid transparent;
      padding-block: var(--spacing-xs);
      transition: color var(--duration-normal) ease,
        border-bottom var(--duration-normal) ease;
      padding-inline: var(--spacing-sm);

      &:hover {
        color: var(--text-color-hover);
      }

      &.active {
        border-bottom-color: var(--primary-color);
      }
    }

    /* In Tablet and above ( All breakpoints declared in src/hooks/useDevice.ts) */
    @media screen and (min-width: 576px) {
      ul {
        gap: var(--spacing-lg);
      }
    }
    /* In Desktop */
    @media screen and (min-width: 992px) {
      a {
        padding: 0;
      }
    }
  }

  .avatar {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
