@keyframes moving {
  0% {
    opacity: 0;
    left: -60%;
  }
  50% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 60%;
    opacity: 0;
  }
}

.container {
  padding: var(--spacing-xl);

  svg {
    height: 100px;
    position: relative;
    animation: moving var(--duration-long) ease-in-out infinite;
  }
}
