@keyframes moving {
  0% {
    opacity: 0;
    left: -60%;
  }
  50% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 60%;
    opacity: 0;
  }
}

.container {
  --loading-spacing: 100px;
  padding-top: var(--loading-spacing);

  svg {
    height: var(--loading-spacing);
    position: relative;
    animation: moving var(--duration-super-long) ease-in-out infinite;
  }
}
