.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md);
  background-color: var(--background-color-branded);
  border-top: 1px solid var(--border-color);
}
