@keyframes shimmer {
  0% {
    background-position: -400px;
  }
  100% {
    background-position: 400px;
  }
}

.container {
  flex-grow: 1;
}

.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #f8f8f8 50%, #f0f0f0 75%);
  background-size: 200px 100%;
  animation: shimmer var(--duration-super-long) infinite;
  height: 1rem;
  border-radius: var(--border-radius-md);
}

.title {
  width: 30%;
}
